.about {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.aboutLeft {
  position: relative;
  flex-basis: 40%;
}
.aboutRight {
  flex-basis: 56%;
}
.aboutImg {
  width: 100%;
  border-radius: 10px;
}
.playIcon {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.playIcon {
}
.aboutSubtitle {
  font-weight: 600;
  font-size: 16px;
  color: var(--subtitle);
}
.aboutTitle {
  font-size: 35px;
  color: var(--title);
  margin: 10px 0;
  max-width: 400px;
}
.aboutText {
  color: var(--text);
  margin-bottom: 15px;
}

/*
========================
MEDIA
========================
*/
@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .aboutLeft {
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }
  .aboutRight {
    flex-basis: 100%;
  }
}
@media (max-width: 650px) {
  .about {
  }
}
