.contact {
  margin: 0 auto;
  max-width: 90%;
}

.column {
  flex-basis: 48%;
}

.contactContent {
  color: var(--text);
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
}

.messageTitle {
  display: flex;
  align-items: center;
  color: var(--title);
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}
.messageText {
  max-width: 450px;
}
.messageIcon {
  width: 35px;
  margin-left: 10px;
}
.messageListItem {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contactIcon {
  width: 25px;
  margin-right: 10px;
}

/*
========================
form
========================
*/

.formInput,
.formTextarea {
  display: block;
  width: 100%;
  background-color: var(--inputBack);
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
}

.darkBtn {
  background-color: var(--subtitle);
  color: var(--white);
}
.darkBtn:hover {
  background-color: var(--cardBack);
  transition: 0.5s;
}
.darkBtn img {
  width: 20px;
  margin-left: 10px;
}
