.footer {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--footerBorder);
  padding: 15px 0;
}

.terms {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*
========================
MEDIA
========================
*/

@media (max-width: 600px) {
  .footer {
    display: block;
    text-align: center;
  }
  .terms {
    justify-content: center;
    margin-top: 10px;
  }
  .termsItem{
    margin: 10px;
  }

}
